<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Credits</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Credits</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card style="max-width: fit-content;">
    <ion-img
      src="../../../assets/credits/images/muditha-heenkenda.jpg"
      alt="Dr. Muditha Heenkenda"
      style="padding: 1.5em;"
      class="profile-pic"
    ></ion-img>
    <ion-card-header>
      <h2>Dr. Muditha Heenkenda</h2>
      <div>Assistant Professor</div>
      <div>Department of Geography and the Environoment</div>
      <div>Lakehead University</div>
    </ion-card-header>
  
    <ion-card-content>
      Email: <a href="mailto:muditha.heenkenda@lakeheadu.ca">muditha.heenkenda@lakeheadu.ca</a>
    </ion-card-content>
  </ion-card>

  <ion-card style="max-width: fit-content;">
    <ion-img
      src="../../../assets/credits/images/md-samiul-alam.jpg"
      alt="Md. Samiul Alam"
      class="profile-pic"
      style="padding: 1.5em;"
    ></ion-img>
    <ion-card-header>
      <h2>Md. Samiul Alam</h2>
      <div>Graduate Student</div>
      <div>Department of Geography and the Environoment</div>
      <div>Lakehead University</div>
    </ion-card-header>
  
    <ion-card-content>
      Email: <a href="mailto:malam20@lakeheadu.ca">malam20@lakeheadu.ca</a>
    </ion-card-content>
  </ion-card>
</ion-content>
