.image-ul-form {
  padding: 1em;
}

.photo-ul-btn {
  background-color: #4285f4;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.submit-btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.image-container {
  padding: 1em;
}